<div class="space"></div>

<div class="main" >

<div class="form-style-8">
    <div class="inner">
        <h2 align="center">Apply for Insurance</h2>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <form #form1="ngForm">
        <div align="center" class="container1">
            <div class="input1">
                <label><b>Crop Name : </b></label>
                <input class="t1" name="cropName" type="text" required [(ngModel)]="insurance.cropName" #name="ngModel"><br/>
                <div *ngIf="form1.submitted && name.invalid">
                    <div class="error" *ngIf="name.errors.required">
                        Crop name is required.
                    </div>
                </div>
                
                <label><b>Area (in hectares) : </b></label>
                <input class="t1" name="area" type="number" required [(ngModel)]="insurance.area" #area="ngModel"><br/>
                <div *ngIf="form1.submitted && area.invalid">
                    <div class="error" *ngIf="area.errors.required">
                        Area value is required.
                    </div>
                </div>

                <label><b>Season : </b></label>
                <input class="t1" name="season" type="text" required [(ngModel)]="insurance.season" #season="ngModel"><br/>
                <div *ngIf="form1.submitted && season.invalid">
                    <div class="error" *ngIf="season.errors.required">
                        Season is required.
                    </div>
                </div>

                <label><b>Year : </b></label>
                <input class="t1" name="year" type="date" required [(ngModel)]="insurance.year" #year="ngModel"><br/>
                <div *ngIf="form1.submitted && year.invalid">
                    <div class="error" *ngIf="year.errors.required">
                        Year is required
                    </div>
                </div>

                <div class="button1">
                    <button type="submit" class="request" (click)="calculate(form1)">Calculate</button> &nbsp;&nbsp;
                    <button type="submit" class="request" (click)="apply(form1)">Apply for Insurance</button>
                </div>

            </div>
        </div>

    </form>

    <!--<div *ngFor="let sample of sample | keyvalue">
        <pre><b>{{ sample.key }}</b>  -  {{ sample.value }}</pre>
    </div>-->
    <br />
    
    <table class="table">
        <thead>
            <tr><th>Season</th> <th>Area(in hec.)</th> <th>Premium(farmer)</th> <th>Premium(Govt)</th> <th>Crop</th> <th>Sum Insured</th></tr>
        </thead>
    <tbody>
        <tr *ngFor="let item of sample">
            <td>{{ item.season }}</td>
            <td>{{ item.area }}</td>
            <td>{{ item.sharePremium }}</td>
            <td>{{ item.premium }}</td>
            <td>{{ item.cropName }}</td>
            <td>{{ item.sumInsured }}</td>
        </tr>
    </tbody>
    </table>
</div>

</div>

