table, td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
    
    table {
      border-collapse: collapse;
      width: 100%;
    }
  
    tr:hover {background-color:#f5f5f5;}
  
    .t1{
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      display: inline-block;
      
  }
  
  .main{
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
  }
  
  .button{
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  
  .space{
    padding-top: 100px;
  }
  
  .start{
    padding-left: 400px;
    padding-right: 400px;
  }
  
  .container{
      padding-left: 10%;
  }