
<div>    
  <form #form1="ngForm"  (ngSubmit)=" register(form1)">
    <div class="top"></div>
      <div class="container">
          <h3 style="text-align: center;">Farmer Registration</h3> <br />
          <h4>Personal Details</h4>
          <label  for="uname"><b>Full Name  </b></label>
          <input class="f1" type="text" placeholder="Enter First Name " required name="uname"  [(ngModel)]=farmer.name #uname="ngModel"><br/>
          <div *ngIf="form1.submitted && uname.invalid">
            <div class="error" *ngIf="uname.errors.required">
              Name is required.
            </div>
          </div>
          
          <label  for="contact"><b>Contact Number  </b></label>
          <input class="f2" type="number" placeholder="Enter Contact" required name="contact"  [(ngModel)]=farmer.contact #contact="ngModel"><br/>
          <div *ngIf="form1.submitted && contact.invalid">
            <div class="error" *ngIf="contact.errors.required">
              Contact is required.
            </div>
          </div>

          <label for="email"><b>Email id  </b></label>
          <input class="f3"  type="email" placeholder="Enter Email @abc.com" required name="email"  [(ngModel)]=farmer.email #email="ngModel"><br/>
          <div *ngIf="form1.submitted && email.invalid">
            <div class="error" *ngIf="email.errors.required">
              Email is required.
            </div>
          </div>

          <div class="d1">Address Details</div>
          <input class="a1" type="text" placeholder="Address" name="address"  [(ngModel)]=farmer.address #line1="ngModel"><br/>
          <!-- <input class="a1" type="text" placeholder="Line 2" name="addressLine2"  [(ngModel)]=farmer.addressLine2 #line2="ngModel"><br/> -->
       

          <label for="state"><b>State </b></label> 
          <input class="a2" type="text" name="state"  [(ngModel)]=farmer.state #state="ngModel" ><br/>
          <div *ngIf="form1.submitted && state.invalid">
            <div class="error" *ngIf="state.errors.required">
              State is required.
            </div>
          </div>
        
          <label for="city"><b>City </b></label> 
          <input class="a3"  type="text" name="city"[(ngModel)]=farmer.city #contact="ngModel" ><br/>
        
          <label for="pin"><b>Pin </b></label> 
          <input class="a4"  type="number" name="pin"  [(ngModel)]=farmer.pincode #pin="ngModel" ><br/>
          
          <div class="d1">Bank Details</div>
          <label for="account"><b>Account Number  </b></label> 
          <input class="b1" type="number" name="account" required [(ngModel)]=farmer.bankAccountNo #account="ngModel"><br/>
          <div *ngIf="form1.submitted && account.invalid">
            <div class="error" *ngIf="account.errors.required">
              Account Number is required.
            </div>
          </div>
          
          <label for="ifsc"><b>IFSC  </b></label> 
          <input class="b2" type="text" name="ifsc" required [(ngModel)]=farmer.ifscCode #ifsc="ngModel"><br/>
          <div *ngIf="form1.submitted && ifsc.invalid">
            <div class="error" *ngIf="ifsc.errors.required">
              IFSC is required.
            </div>
          </div>
        <!--
          <div class="doc">Document</div>
          <label for="aadhar"><b>Aadhar </b></label>
          <input class="d1" type="number" name="aadhar"  [(ngModel)]=farmer.Aadharcard #addhar="ngModel"><br/>
                                                  
        <label for="pan"><b>PAN  </b></label>
          <input class="d2" type="text" name="pan"   [(ngModel)]=farmer.pancard #pan="ngModel"> <br/>
                                          
            -->  
                                          
          <label for="password"><b>Password  </b></label>
          <input class="pass1" type="password" name="pass1" required  [(ngModel)]=farmer.password #pass="ngModel"><br/>
        <!--- <label for="confirm"><b>Confirm Password  </b></label>
          <input class="pass2" type="password" name="pass2"   [(ngModel)]=confirmPassword #pass="ngModel"><br/>
        -->

        <div *ngIf="form1.submitted && pass.invalid">
          <div class="error" *ngIf="pass.errors.required">
            Password is required.
          </div>
        </div>
        <div class="space"></div>     
        <button type="submit">register</button>
      
</div>