.space{
    padding-top: 10%;
}

table, td, th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }


  .request {
    background-color:#4a8309;
   
    color:rgb(248, 242, 242);
    font-size: 20px;
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    }
    .request:hover {
    opacity: 1;
    background-color:#8bda31;
    }

    .innerspace{
        padding-top: 25%;
    }