<div class="contain">
    <img  src="../../assets/homeImages/new3.jpg" alt="farmer"  style="height:600px;width:1500px;">
    <div class="child content">

        <p class="highlight">Agriculture Market (eNAM) is a pan-India electronic trading portal which networks the existing APMC mandis to create a unified market for agricultural commodities.
        </p>
       <p class="highlight"> Small Farmers Agribusiness Consortium (SFAC) is the lead agency for implementing eAM under the aegis of Ministry of Agriculture and Farmers’ Welfare, Government of India.</p> 
        <p>
            <b>VISION</b> <br/>
            -To promote uniformity in agriculture marketing by streamlining of procedures across the integrated markets, 
            removing information asymmetry between buyers and sellers and promoting real time price discovery based on actual demand and supply.<br/>
            -To encourage farmers to adopt innovative and modern agricultural practices. <br/>
            -To ensure flow of credit to the agriculture sector.<br/>
            <br/> <b>MISSION </b><br/>
            Integration of APMCs across the country through a common online market platform to facilitate pan-India trade in agriculture commodities,
             providing better price discovery through transparent auction process based on quality of produce along with timely online payment.
        </p>
    </div>
</div>
