<div class="topnav">
    <img  src="../../../assets/homeImages/logo1.jpg" alt="farmer" style="height:50px;width:100px;">
    <a class="eAM" [routerLink]="'app-home'">eAM</a>
    <a [routerLink]="'app-home'">Home</a>
    <!-- <a [routerLink]="'/app-farmer-welcome2'">News</a>      <a [routerLink]="'app-about'">About</a> -->
    <a [routerLink]="'app-contact'">Contact</a>
    <a [routerLink]="'app-about'">About</a>
    <a [routerLink]="'app-login'">Login</a>
    <a [routerLink]="'app-registration'">Registration</a>
    
</div>

