<div class="main">
    <div class="space"></div>
    <div id="form">
        <form>
            <label ><b>Email id</b></label> <br/>
            <input  id="emailid" name="email" class="inputText" required email [(ngModel)]="email"  /><br/><br/>

            <label ><b>Password</b></label><br/>
            <input id="password" type="password" name="pass" class="inputText" required [(ngModel)]="password" /><br/><br/>
                
            <button (click)='login()'>Login</button>
            
       </form>
   
    </div>
</div> 