.space{
    padding-top: 10%;
}

table, td, th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5%;
    margin-right: 55%;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }