<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<div class="top"> </div>
<div class="main">
    <div>
        <h2>Small Farmer's Agri-Business Consortium</h2><br/>
    </div>
    <p>
        <span class="glyphicon glyphicon-map-marker"> &nbsp;
        </span>
        NCUI Auditorium Building, 5th Floor, 3, Siri Institutional Area,
        August Kranti Marg, Hauz Khas,
        New Delhi - 110016.
        <br>
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-earphone"> &nbsp;</span>&nbsp;
         Help Desk No.: 1800 270 0224
        <br>
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-print">&nbsp;</span>&nbsp;&nbsp;
        Fax : +91-11-26862367
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
        Email id- eAM@gmail.com , landinsurance@gmail.com
       
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-time"> &nbsp; </span>
        Office Time: 09:30 AM. to 06:00 PM.<br/>
        
    </p>
    <hr/>
    </div>
    
