<div class="space"></div>
<div class="content" >
    <h2>Market Place</h2>
    <table class="table">
      <thead>
        <tr>
          <!-- <th scope="col">Sr.No</th> -->
          <th scope="col">itemNo</th>
          <th scope="col">cropName</th>
          <th scope="col">cropType</th>
          <th scope="col">basePrice</th>
          <th scope="col">status</th>
          <th scope="col">quantity</th>
          <!-- <th scope="col">maxBid</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of sample ">
          <!-- <th scope="row">{{ i + 1 }}</th> -->
          <!-- <td>{{ Bid.Sr.No }}</td> -->
          <td>{{ i.itemNo}}</td>
          <td>{{ i.cropName }}</td>
          <td>{{ i.cropType }}</td>
          <td>{{ i.basePrice }}</td>
          <td>{{ i.status }}</td>
          <td>{{ i.quantity }}</td>
          <!-- <td>{{ i.maxBid }}</td>  -->
          
          <button class="button" (click)="placeBid(i.itemNo)">Place Bid</button>
          <!-- <td>{{ i.maxBid }}</td> -->
        </tr>
      </tbody>
    </table>
   
  

