<div class="space"></div>
    <h2>Place bids</h2>
    <table class="table">
      <thead>
        <tr>
         
          <th scope="col">Item No</th>
          <th scope="col">Crop Name</th>
          <th scope="col">cropType</th>
          <th scope="col">Base Price</th>
          <th scope="col">Status</th>
          <th scope="col">Quantity</th>
          <th scope="col">Max Bid</th>
          
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <tr>
          <td>{{ marketPlace.itemNo}}</td>
          <td>{{ marketPlace.cropName }}</td>
          <td>{{ marketPlace.cropType }}</td>
          <td>{{ marketPlace.basePrice }}</td>
          <td>{{ marketPlace.status }}</td>
          <td>{{ marketPlace.quantity }}</td>
          <td>{{ marketPlace.maxBid}}</td>
          
        </tr>
      </tbody>
    </table>
    <div class="input">
     <input class="t4" name="bidAmount" placeholder=" Enter bid" type="number"required [(ngModel)]=bid.bidAmount #bidAmount="ngModel" ><br/>
    </div> 
     <!-- <div *ngIf="form1.submitted && quantity.invalid">
                <div class="error" *ngIf="quantity.errors.required">
                         Quantity is required.
                </div>
          </div> -->
  <div class="button-css">
     <button class="request" (click)="placeBidAgain()">Place Bid</button> 
  </div>
