
.space{
    padding-top: 10%;
}


#form{
	
	/* display: flex; */
  
	justify-content: center;
	padding-top: 50%;
	padding-right: 15%;
	padding-left: 15%;
	padding-bottom: 10%; 
	/*border:solid rgb;*/
  
	width: 300px;
    height: 50%;
	margin-bottom: 180px;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
    color:black;
    font-size: 20px;
	padding:30px 35px;
    cursor: pointer;
	opacity: 0.9;
	border: 3px solid greenyellow;
	border-radius: 10px;
	background-color:#D3D3D3;
  
}

.form{
    padding-top: 20px;
}



.main{

	background-image: url('../../assets/homeImages/new1.jpg');
    height: 600px;
 
}


  #signup{
	padding-top: 10%;
  }

  .error{
    color:red;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
   .form{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  
  /* -------------------------------------------------------------- */
  
 
