<div class="contain">
    <img  src="../../assets/homeImages/new4.jpg"   style="height:600px;width:1500px;">
    <div class="container2">
       
        
        <h2>Welcome Admin</h2>
        <br>
        <div class="border">
            <h2>Available Functionalities</h2><br/>
            <p>
                <a style="color:#26269c;font-size:25px;" [routerLink]="'/app-admin-crop-request'">View placed sell request</a>
            </p><br>
            <p>
                <a style="color:#26269c;font-size:25px;" [routerLink]="'/app-viewsoldhistory'">View Insurance request</a>
            </p><br>
            <p>
                <a style="color:#26269c;font-size:25px;" [routerLink]="'/app-admin-approve-sold-crops'">View MarketPlace Crops</a>
            </p><br>
            
        </div>
    
</div>
