<div class="mainDiv">
    <div> <br /> </div>
    <div class="mark">
        <marquee><b>eAM welcomes all the Farmers and Bidders &amp;
            requests to register on eAM for trading to avail benefits from the transparent system. Kindly reach us on our Toll-Free No.1800 270 0224 &nbsp;&nbsp;
            &nbsp;&nbsp;
            | ई ए.एम. सभी कृषि उत्पादक संगठनो का पंजीकरण एवं पारदर्शी प्रणाली द्वारा व्यापार करने के लिए स्वागत करता है। अतिरिक्त जानकारी के लिए कृपया हमारे  टोल-फ्री नंबर 1800 270 0224 पर संपर्क करें  &nbsp; |
            </b>
        </marquee>
    </div>
    
      
    <div class="homeImages">
        <img  src="../../assets/homeImages/new2.jpg" height="500" width="1330" > 
        <div class="center-onimg-text"><h1>AAP KI KADI MEHNAT BEKAAR NAHI JAAYEGI..</h1></div>
    </div>
    
</div>
