.mark{
    background-color: #f5f5f5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    margin: 2.5%;
    
}

.homeImages{
   outline: 2px solid;
   background-attachment: fixed;
   background-size: cover;
   height: 500px;
   width: 1330px;
   margin-left: 6em;

   
}

.center-onimg-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(88, 88, 20);
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0% {color: rgb(59, 7, 90);}
    25% {color: rgb(15, 12, 168);}
    50% {color: rgb(40, 148, 121);}
    100% {color: rgb(88, 88, 20);}
  }