<div class="space">
        <table class="table" style="text-align: center;">
            <thead>
                <tr><th>Claim ID</th> <th>Insurance Company</th> <th>Name</th> <th>Sum Insured</th> <th>Cause</th> <th>Loss Date</th></tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of sample; index as item">
                    <td>{{i.id}}</td>
                    <td>{{i.insuranceCompany}}</td>
                    <td>{{i.insureeName}}</td>
                    <td>{{i.sumInsured}}</td>
                    <td>{{i.cause}}</td>
                    <td>{{i.lossDate}}</td>
                    <button class="button" (click)=approve(item)>Approve</button>
                </tr>
            </tbody>
        </table>
</div>
